@tailwind base;
@tailwind components;
@tailwind utilities;



#yagiz {
  box-shadow: inset 0 -0.5em white;
  transition: box-shadow 0.3s ease;
}

#yagiz:hover {
  box-shadow: inset 0 -1.1em white;
}

#service {
  background-image: url('/serviceBackground.png');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 50vh;
  background-position: center;

}